                                                /* RESET Y PARAMETROS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

                                                            /* colores */


:root {
    /* color de fondo 1 */
    --bg-color: #3d095bd0;
    /* color de fondo 2 */
    --secondary-bg-color: rgb(176, 176, 176);
    /* color de texto */
    --text-color: #ffffff;
    /* color de letras principales y botones*/
    --main-color: rgb(255, 191, 0);

}



                                                        /* ESTILOS PARA BARRA LATERAL */

html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

section {
    min-height: 100vh;
}


                                                                /* BARRA DE NAVEGACION header*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: var(--bg-color);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header:hover {
    border-bottom: 4px solid var(--main-color);
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bolder;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    color: var(--main-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar__link:hover {
    color: var(--main-color);
    transform: scale(1.3);
    text-decoration: underline var(--main-color);
    font-weight: 700;

}

i.menu-open,
i.menu-close {
    display: none;
}


                                                            /* media query para el navbar */

@media screen and (max-width: 995px) {

    i.menu-open,
    i.menu-close {
        display: block;
        font-size: 2rem;
        color: var(--main-color);
    }

    .navbar {
        opacity: 0;
        visibility: hidden;

        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        border-left: 3px solid var(--secondary-color);
        border-bottom: 3px solid var(--secondary-color);
        border-bottom-left-radius: 2rem;
        padding: 2rem 5%;
        background-color: var(--bg-color);
        gap: 1rem;
    }

    .navbar__link {
        display: block;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .navbar__link:hover {
        transform: scale(1.1);
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }

    .navbar.visible {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 1.5rem;
    }

    i.menu-open {
        font-size: 2rem;
    }

    .navbar {
        width: 45%;
    }
}



                                                                    /* PRESENTACION HOME */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: var(--secondary-bg-color);
    border-bottom: var(--main-color) 1px solid;
    width: 100vw;
}


.home__img img {
    border-radius: 50%;
    width: 20vw;
    box-shadow: 0 0 25px var(--bg-color);
}


.home__img img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 35px var(--bg-color));
}


.home__presentacion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name {
    color: var(--bg-color);
    font-weight: 700;
}

.home__presentacion h1 {
    font-size: 3rem;
    color: var(--text-color);
}

.home__p2,
.home__p1 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-color)
}

.home__vinculos {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    transition: 0.3s ease;
}

.home__vinculos i {
    font-size: 3rem;
    color: var(--bg-color);
}


.curriculum {
    display: inline-block;
    text-decoration: none;
    border: 3px solid var(--main-color);
    border-radius: 4rem;
    padding: 1rem 2.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.home__vinculos i:hover {
    transform: scale(1.2);
    color: var(--bg-color);
}

.curriculum:hover {
    background-color: var(--main-color);
    transform: scale(1.03);
    color: var(--bg-color);
    font-weight: 700;
    border: var(--bg-color) 3px solid;
}


                                                            /* MEDIA QUERY PRESENTACION HOME */

@media screen and (max-width: 995px) {
    .home {
        gap: 4rem;
    }

    .home__img img {
        width: 30vw;
    }

    .home__p2,
    .home__p1 {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }


    .home__vinculos i {
        font-size: 2rem;
    }

    .curriculum {
        font-size: 1rem;
        padding: 0.5rem 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .home {
        flex-direction: column;
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .home__presentacion h1 {
        font-size: 2rem;
    }

    .home__img img {
        width: 45vw;
    }
}

@media screen and (max-width: 450px){
    .home {
        width: 100%;
    }

    .home__presentacion {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }   

    .home__img img {
        width: 38vw;
        margin-top: 1rem;
    }
}






                                                                /* HABILIDADES*/


.habilidades {
    background-color: var(--bg-color);
}

.habilidades__h2 {
    text-align: center;
    margin-top: 4rem;
    font-size: 3.5rem;
    color: var(--text-color);
}

.habilidades__h4 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
}


.habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.contenedor__habilidades {
    position: relative;
    width: 420px;
    background: var(--bg-color);
    padding: 20px 30px;
    margin: 1rem;
}

.habilidad__titulo {
    color: var(--text-color);
}

.habilidad i {
    color: var(--text-color);
}

.contenedor__habilidades .habilidad {
    margin: 20px 0;
}

.contenedor__habilidades .habilidad:hover {
    transform: scale(1.1);
}

.contenedor__habilidades .habilidad p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contenedor__habilidades .habilidad .progreso {
    position: relative;
    width: 100%;
    height: 6px;
    background: #999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}

.contenedor__habilidades .habilidad .progreso::before {
    content: "";
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: var(--main-color);
}


                                                             /* MEDIA QUERY HABILIDADES */

@media screen and (max-width: 995px) {
    .habilidades {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .habilidades__h2{
        font-size: 3rem;
    }

    .contenedor__habilidades .habilidad {
        margin: 10px 0;
    }

    .contenedor__habilidades {
        width: 350px;
    }
}

@media screen and (max-width: 450px){
    .contenedor__habilidades {
        width: 300px;
    }

    .habilidades {
        width: 100%;
    }
}




                                                            /* EDUCACION */

.educacion {
    background-color: var(--secondary-bg-color);
    border-bottom: var(--main-color) 1px solid;
    border-top: var(--main-color) 1px solid;
    color: var(--text-color);
}

.educacion__h2 {
    text-align: center;
    margin: 3rem;
    font-size: 4rem;
    color: var(--bg-color);
}

.educacion .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.educacion .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: var(--main-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}

.educacion .contenedor {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.educacion .contenedor::after {
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: var(--text-color);
    border: 5px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: var(--bg-color);
}

.educacion .izquierdo {
    left: 0;
}

.educacion .derecho {
    left: 50%;
}

.educacion .izquierdo::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--bg-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--bg-color);
}

.educacion .derecho::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--bg-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--bg-color) transparent transparent;
}

.educacion .derecho::after {
    left: -16px;
}

.educacion .contenido {
    background: var(--bg-color);
    position: relative;
    border-radius: 6px;
    margin: 5px;
}


.educacion .contenido .tag {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.educacion .contenido .decs {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}


                                                            /* MEDIA QUERY EDUCACION */

@media screen and (max-width: 600px) {

    .educacion__h2 {
        font-size: 3rem;
    }

    .educacion .contenedor::after {
        font-size: 1.3rem;
    }

    .tag h2 {
        font-size: 1rem;

        margin-right: 2rem;
    }

    .decs p {
        font-size: 0.6rem;

        margin-right: 2rem;
    }
}


                                                                /* CONTACTO */

.contacto {
    background-color: var(--bg-color);
    padding: 3rem;
}

.contacto__h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    color: var(--text-color);
}

.contenedor__contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    height: 55vh;
}

.input {
    width: 500px;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--bg-color);
    border: var(--main-color) 3px solid;
    border-radius: 10px;
}

.textarea {
    width: 500px;
    height: 10rem;
    font-size: 1rem;
    border: var(--main-color) 3px solid;
    border-radius: 10px;
}

.contacto__boton {
    padding: 1rem 3rem;
    border: var(--main-color) 3px solid;
    font-size: 1.3rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
    border-radius: 10px;
}

.contacto__boton:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px var(--main-color));
}

                                                            /* MEDIA QUERY CONTACTO */

@media screen and (max-width: 600px) {
    .contacto__h2 {
        font-size: 3rem;
    }

    .input {
        width: 300px;
    }

    .textarea {
        width: 300px;
    }
}


                                                            /* FOOTER */

.footer {
    padding: 1rem;
    font-size: 1.2rem;
    border-top: var(--main-color) 1px solid;
    background: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.derechos p {
    color: var(--bg-color);
}

.footer__vinculos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
}

.footer__vinculos a {
    color: var(--bg-color);
    font-size: 3rem;
}

.footer__vinculos a:hover {
    transform: scale(1.2);
    color: var(--bg-color);
}

                                                        /* MEDIA QUERY FOOTER */


