/* RESET Y PARAMETROS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

:root {
    --bg-color: black;
    --text-color: #fff;
    --main-color: blue;
    --secondary-color: darkblue
}

html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

section {
    min-height: 100vh;
}


/* BARRA DE NAVEGACION header*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: bolder;
    text-decoration: underline var(--main-color);
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar__link:hover {
    color: var(--main-color);
}

.navbar__link:hover {
    transform: scale(1.4);
    text-decoration: underline var(--main-color);
    font-weight: 700;
}

/* media query para el navbar */

@media screen and (max-width: 995px) {

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--secondary-color);
        border-bottom: 3px solid var(--secondary-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        display: none;
    }

    .navbar__link {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar__link:hover {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

@media screen and (max-width: 600px){
    .logo {
        font-size: 1.5rem;
    }

    #menu-icon {
        font-size: 2rem;
    }
}


/* PRESENTACION HOME */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: var(--bg-color);
}


.home__img img {
    border-radius: 50%;
    width: 20vw;
    box-shadow: 0 0 25px var(--main-color);
}


.home__img img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 50px var(--main-color));
}


.home__presentacion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name {
    color: var(--main-color);
    font-weight: 700;
}

.home__presentacion h1 {
    font-size: 3rem;
}

.home__p2,
.home__p1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.home__vinculos {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    transition: 0.3s ease;
}

.home__vinculos i {
    font-size: 3rem;
    color: var(--text-color);
    background: transparent;
}


.curriculum {
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--text-color);
    border-radius: 4rem;
    padding: 1rem 2.8rem;
    color: var(--main-color);
    background: var(--bg-color);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.home__vinculos i:hover {
    transform: scale(1.1)translateY(-5px);
    color: var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
}

.curriculum:hover {
    background-color: var(--main-color);
    transform: scale(1.03);
    color: var(--text-color);
    box-shadow: (0 0 50px var(--main-color));
}


/* MEDIA QUERY PRESENTACION HOME */

@media screen and (max-width: 995px) {
    .home {
        gap: 4rem;
    }

    .home__img img {
        width: 30vw;
    }

    .home__p2,
    .home__p1 {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }


    .home__vinculos i {
        font-size: 2rem;
    }

    .curriculum {
        font-size: 1rem;
        padding: 0.5rem 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .home {
        flex-direction: column;
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .home__presentacion h1 {
        font-size: 2rem;
    }

    .home__img img {
        width: 45vw;
    }
}



/* SERVICIOS */

.section__servicio {
    background-color: var(--bg-color);
}

.servicio__h2 {
    text-align: center;
    font-size: 4rem;
    margin: 3rem; 
}

.servicios__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.servicio__card {
    height: 250px;
    width: 500px;
    border: 2px solid var(--secondary-color);
    border-radius: 3rem;
    padding: 3rem;
}

.servicio__h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.servicio__p {
    font-size: 1.5rem;
    text-align: center;
}

.servicio__card:hover {
    box-shadow: 0 0 50px var(--main-color);
}

@media screen and (max-width: 600px) {
    .servicio__h2 {
        font-size: 3rem;
    }

    .servicios__contenedor{
        flex-direction: column;
    }

    .servicio__card {
        width: 300px;
    }

    .servicio__h3 {
        font-size: 2rem;
    }

    .servicio__p {
        font-size: 1rem;
    }
}  


/* SKILLS */

.skills {
    background-color: var(--bg-color);
}


.skills__h2 {
    text-align: center;
    font-size: 4rem;
    margin: 3rem;
}

.contenedor__skills {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.8rem;
    justify-content: center;
}

.skill__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--secondary-color);
    padding: 2rem;
    border-radius: 2rem;
    width: 200px;
    height: 200px;
    text-align: center;
}

.skill__card img {
    width: 50px;
}

.skill__card:hover {
    box-shadow: 0 0 50px var(--main-color);
}

/* MEDIA QUERY SKILLS */

@media screen and (max-width: 995px) {
    .contenedor__skills {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 600px) {
    .skills__h2 {
        font-size: 3rem;
    }

    .contenedor__skills {
        grid-template-columns: auto auto;
    }

    .skill__card {
        width: 90%;
    }

    .skill__card img {
        width: 40px;
    }

    .skill__card p {
        font-size: 0.8rem;
    }
}


/* EDUCACION */

.educacion {
    background-color: var(--bg-color);
}

.educacion__h2 {
    text-align: center;
    margin: 3rem;
    font-size: 4rem;
}

.educacion .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.educacion .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: var(--secondary-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2px;
}

.educacion .contenedor {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.educacion .contenedor::after {
    content: '\f501';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -17px;
    background-color: var(--text-color);
    border: 5px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    font-family: "Font Awesome\ 5 Free";
    color: var(--bg-color);
}

.educacion .izquierdo {
    left: 0;
}

.educacion .derecho {
    left: 50%;
}

.educacion .izquierdo::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid var(--secondary-color);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--secondary-color);
}

.educacion .derecho::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid var(--secondary-color);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
}

.educacion .derecho::after {
    left: -16px;
}

.educacion .contenido {
    background: var(--secondary-color);
    position: relative;
    border-radius: 6px;
}


.educacion .contenido .tag {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

.educacion .contenido .decs {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
}


/* MEDIA QUERY EDUCACION */

@media screen and (max-width: 600px){

    .educacion .contenedor::after {
        font-size: 1.3rem;
    }

    .tag h2 {
        font-size: 1rem;
        
    }

    .decs p {
        font-size: 0.6rem;
    }
}
/* CONTACTO */

.contacto__h2 {
    text-align: center;
    margin: 3rem;
    font-size: 4rem;
}

.contenedor__contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    height: 55vh;
}

.input {
    width: 500px;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--bg-color);
    border: var(--main-color) 3px solid;
}

.textarea {
    width: 500px;
    height: 10rem;
    font-size: 1rem;
    border: var(--main-color) 3px solid;
}

.contacto__boton {
    padding: 1rem 3rem;
    border: var(--main-color) 3px solid;
    font-size: 1.3rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
}

.contacto__boton:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px var(--main-color));
}

/* MEDIA QUERY CONTACTO */

@media screen and (max-width: 600px) {
    .contacto__h2 {
        font-size: 3rem;
    }

    .input {
        width: 300px;
    }

    .textarea {
        width: 300px;
    }
}

